@font-face {
    font-family: 'ImperatorSmallCaps';
    src:  url('../fonts/ImperatorSmallCaps.woff') format('woff');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 130px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
    background: #282E52;
    color: white;
    text-align: center;
}

.header-spacing {
    height: 25px;
}

.nav-tabs > li > a {
    color: white;
}

.nav-tabs > li > a:hover {
    color: black;
}

.logo {
    color: #fff;
    font-size: 45px;
    font-family: "ImperatorSmallCaps", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.logo-statement {
    margin: -10px 0 5px 10px;
    color: #dddddd;
    font-family: "ImperatorSmallCaps", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.title-heading {
    background-image: -ms-linear-gradient(top, #070E3B 0%, #0C1969 60%, #081042 100%);
    background-image: -moz-linear-gradient(top, #070E3B 0%, #0C1969 60%, #081042 100%);
    background-image: -o-linear-gradient(top, #070E3B 0%, #0C1969 60%, #081042 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #070E3B), color-stop(0.6, #0C1969), color-stop(1, #081042));
    background-image: -webkit-linear-gradient(top, #070E3B 0%, #0C1969 60%, #081042 100%);
    background-image: linear-gradient(to bottom, #070E3B 0%, #0C1969 60%, #081042 100%);
}

.menu-heading {
    background: #282E52;
}

.page-paragraph {
    font-size: 18px;
}